{% extends 'measure/basic.html' %}
{% block title %} Manual Operations {% endblock %}
{% block body %}
    <div class="container my-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#moveRover">
            Move Forward
        </button>
        <div class="modal fade" id="moveRover" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="moveRoverLabel">Moving Rover</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Click on Stop Rover button to stop the rover.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Stop Rover</button>
                </div>
            </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#moveRover">
            Move Backward
        </button>
        <div class="modal fade" id="moveRover" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="moveRoverLabel">Moving Rover</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Click on Stop Rover button to stop the rover.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Stop Rover</button>
                </div>
            </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#moveRover">
            Drill Down
        </button>
        <div class="modal fade" id="moveRover" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="moveRoverLabel">Moving Rover</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Click on Stop Rover button to stop the rover.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Stop Rover</button>
                </div>
            </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#moveRover">
            Drill Up
        </button>
        <div class="modal fade" id="moveRover" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="moveRoverLabel">Moving Rover</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Click on Stop Rover button to stop the rover.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Stop Rover</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container my-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#moveRover">
            Start Drill
        </button>
        <div class="modal fade" id="moveRover" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="moveRoverLabel">Moving Rover</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Click on Stop Rover button to stop the rover.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Stop Rover</button>
                </div>
            </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#moveRover">
            Sensors Down
        </button>
        <div class="modal fade" id="moveRover" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="moveRoverLabel">Moving Rover</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Click on Stop Rover button to stop the rover.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Stop Rover</button>
                </div>
            </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#moveRover">
            Sensors Up
        </button>
        <div class="modal fade" id="moveRover" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="moveRoverLabel">Moving Rover</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Click on Stop Rover button to stop the rover.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Stop Rover</button>
                </div>
            </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#moveRover">
            Take Reading
        </button>
        <div class="modal fade" id="moveRover" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="moveRoverLabel">Moving Rover</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Click on Stop Rover button to stop the rover.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Stop Rover</button>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}